<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  
  
  <!-- 全站 参数编码配置 -->
	<context-param>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
	</context-param>
  
  	<!-- 过滤器配置 -->
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>com.fx.web.filter.EncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.fx.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.fx.web.servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.fx.web.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>com.fx.web.servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.fx.web.servlet.QuestionServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/person.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/check.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/dept.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question.do</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
